rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if isAnyAuth();
      allow create;
      allow update: if isUserAuth(userId);
      allow delete: if isUserAuth(userId);

      match /practices/{practiceId} {
        allow read, write: if isUserAuth(userId);

        match /menus/{menuId} {
          allow read, write: if isUserAuth(userId);
        }
      }
      match /weights/{weightId} {
        allow read, write: if isUserAuth(userId);
      }
      match /tournaments/{tournamentId} {
        allow read, write: if isUserAuth(userId);
      }
    }

    match /teams/{teamId} {
      allow read: if isAnyAuth();
      allow create: if isAnyAuth();
      allow update: if isUserAuth(teamId);
      allow delete: if isUserAuth(teamId);
    }

    function isAnyAuth() {
      return request.auth.uid != null;
    }

    function isUserAuth(userId) {
      return request.auth.uid == userId;
    }

    function isTeamAuth(teamId) {
      return request.auth.uid == teamId;
    }
  }
}